html  
  head
    title= title
  body
    h1= message
    h2= "Dit is de documentatiepagina voor de API.\n Met deze API kunnen er requests worden gedaan met de volgende endpoints:\n Ten eerste moet er ingelogd worden via /tokens met een email en een wachtwoord.\n Daarna kunnen er users opgehaald worden via /users\n Messages via /messages \n En tot slot groups via /groups\n Een group heeft users die op zijn beurt messages heeft. \n Op die manier kunnen deze collecties ook genest worden.\n De makers van deze API wensen je veel plezier met het gebruiken!\n Mochten er vragen ontstaan, dan kunt u altijd terecht bij NigerianPrince@Uganda.com"